html, body {
  height: 100%;
  width: 100%;
}
#bro_emma
{
 width:20%;
  margin:auto;
  background-color: skyblue;
}
.image-fit
{
width:100px;
height:100px;
object-fit:contain;
object-position:center;  
background-color: skyblue;  
}

